---
layout: archive
---

{{ content }}

<div class="page__content">
  <h3 class="archive__subtitle">About Me</h3>

  <p><strong>Hi!</strong> I'm <strong>Zhang Yuxuan</strong> (章宇轩), an undergraduate student currently studying at
    <strong>School of Physics, Peking University</strong>. And I'm also pursuing a double degree in <strong>EECS</strong>.</p>

  <p>I’m currently interested in <strong>computational neuroscience</strong> and <strong>theoretical physics</strong>, particularly in understanding the emergent behavior of neural network, neural dynamics and learning dynamics. Now I am studying in Louis Tao's Lab.
    This site is a collection of my thoughts and research.</p>
  
  <p>My hobbies are diverse but not particularly deep in any. I’ve dabbled in photography and piano,
    and recently started learning the violin. I’ve always been an avid reader and a movie, manga, anime enthusiast.
    And trust me, my profile picture is almost a spitting image of me (before I decided to grow my hair long).
  </p>
  <p>Feel free to contact me via 
    <a href="https://github.com/Tomzyx0315">GitHub</a> or 
    <a href="mailto:2400011441@stu.pku.edu.cn">Email</a>!
  </p>
  <p>You can also download my <a href="/assets/cv.pdf" target="_blank">CV here</a>.</p>
</div>