---
layout: archive
---

{{ content }}

<div class="page__content">
  <h3 class="archive__subtitle">About Me</h3>

  <p><strong>Hi!</strong> I'm Yuxuan Zhang (Tomzyx), an undergraduate student currently studying at
    <em>School of Physics, Peking University</em>.</p>

  <p>I’m currently interested in <strong>computational neuroscience</strong>,
    <strong>biophysics</strong>, and <strong>theoretical physics</strong>. 
    This site is a collection of my thoughts, research, and side projects.</p>

  <p>Feel free to contact me via 
    <a href="https://github.com/Tomzyx0315">GitHub</a> or 
    <a href="mailto:2400011441@stu.pku.edu.cn">Email</a>!
  </p>
</div>